.content__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
}

.content__info {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.circle-btn {
  width: 16px;
  height: 16px;
  border-radius: 50&;
}

.btns{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  
  &:nth-child(3){
    margin-right: 0;
  }
}

.actives{
  background-color: #22343d;;
}


.carousel__indicators {
  position: absolute;
  right: 0;
  bottom: -64px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}