.enterprise {
  padding-top: 53px;
  background-color: #E5E5E5;
}

.enterprise__inner {
  text-align: center;
}

.enterprise__name {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #22343D;
}

.enterprise__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
}

.enterprise__info {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 27px;
  color: #22343D;
}

.enterprice__link {
  display: inline-block;
  margin-bottom: 212px;
  padding: 11px 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #02897A;
  border-radius: 8px;
  text-decoration: none;
}

.enterprice__text {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
}

.user {
  display: flex;
  padding-bottom: 149px;
}

.user__img {
  margin-right: 63px;
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 392px;
}

.user__list {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 500px;
  list-style-type: none;
  text-align: left;
}

.user__item {
  margin-bottom: 32px;
  padding: 0;
}

.user__item:nth-child(1) {
  background-image: url("../../images/enterpreneur-img.svg");
  background-repeat: no-repeat;
}

.user__item:nth-child(2) {
  background-image: url("../../images/accountants-img.svg");
  background-repeat: no-repeat;
}

.user__item:nth-child(3) {
  background-image: url("../../images/universities-img.svg");
  background-repeat: no-repeat;
}

.user__title {
  margin: 0;
  margin-bottom: 23px;
  margin-left: 64px;
  padding: 7px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #22343D;
}

.user__info {
  margin: 0;
}

.question {
  
}

