.footer__inner {
  margin-bottom: 40px;
}

.footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 161px;
  width: 100%;
  max-width: 170px;
  height: 100%;
  max-height: 100px;
}

.footer__item:nth-child(2) {
  margin-right: 153px;
}

.footer__item:nth-child(3) {
  margin-right: 81px;
}

.footer__logo-link {
  text-decoration: none;
}

.footer__logo {
  margin-right: 16px;
}

.footer__instagram-link {
  text-decoration: none;
}

.footer__facebook-link {
  text-decoration: none;
}

.footer__twitter-link {
  text-decoration: none;
}

.footer__instagram-logo {
  margin-top: 28px;
}

.footer__facebook-logo {
  margin-top: 28px;
}

.footer__twitter-logo {
  margin-top: 28px;
}

.footer__strong-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
}

.footer__sublist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__subitem {
  font-size: 16px;
  line-height: 35px;
  color: #22343D;
}

.foote__sublink {
  color: #22343D;
  text-decoration: none;
}

.footer__text-strong {
  display: inline-block;  
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
}

.footer__input {
  width: 100%;
  max-width: 325px;
  margin-bottom: 30px;
  padding: 10px 15px;
  background: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}

.footer__button {
  padding: 8px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background-color: #02897A;
  border-radius: 4px;
  border: transparent ;
}

.footer__copyright-text {
  display: block;
  margin-top: 40px;
  font-size: 16px;
  line-height: 30px;
  color: #22343D;
  text-align: center;
}


@media only screen and (max-width: 520px) {
  .footer__inner {
    margin-bottom: 24px;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer__item {
    margin-bottom: 32px;
    text-align: center;
  }
  
  .footer__item:nth-child(1) {
    margin-right: 0;
  }
  
  .footer__item:nth-child(2) {
    margin-right: 0;
  }
  
  .footer__item:nth-child(3) {
    margin-right: 0;
  }
}