.footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 170px;
  margin-right: 161px;
}

.footer__logo-link {
  text-decoration: none;
}

.footer__logo {
  margin-right: 16px;
}

.footer__instagram-link {
  text-decoration: none;
}

.footer__facebook-link {
  text-decoration: none;
}

.footer__twitter-link {
  text-decoration: none;
}

.footer__instagram-logo {
  margin-top: 28px;
}

.footer__facebook-logo {
  margin-top: 28px;
}

.footer__twitter-logo {
  margin-top: 28px;
}

.footer__strong-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
}

.footer__sublist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__subitem {
  font-size: 16px;
  line-height: 35px;
  color: #22343D;
}