.box {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;
  padding: 40px 50px; 
  width: 100%;
  max-width: 968px;
  background-color: #02897A;
  border-radius: 32px;
  background-image: url("../../images/box-img.png");
  background-repeat: no-repeat;
  background-position: right;
}

.box__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 500px;
}

.box__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #FFFFFF;
}

.box__link {
  margin-bottom: 20px;
  padding: 13px 50px;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #02897A;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 8px;
}


@media only screen and (max-width:520px) {
  .box {
    flex-direction: column;
    align-items: center;
    padding-bottom: 373px;
    background-position: center bottom;
  }

  .box__title {
    text-align: center;
  }

  .box__link {
    margin: 0 auto;
  }
}